/* Import */

  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');


body{
    background-color: black;
    max-width: 100vw;
}

a{
    text-decoration: none;
}


.body1{
    
    background: url(img/bgimg3.jpg);
    
    background-size: cover;
}

.body2{
    background-color: rgb(4, 0, 0);
}



nav{
    min-width: 100%;

}

.logo{
    width: 50px;
    height: auto;
}


.navbar-toggler{
    background-color: #ffffff69;
    scale: 80%;
    border-radius: 10px;
    min-width: fit-content;
}

.sec1-1 :nth-child(n){
    margin-top: 20px;
}

.nav-link{
    opacity: 50%;
    color: gold;
    text-decoration: none;
    margin: 5px 15px;
}

.nav-link:hover{
    text-decoration: none;
    color: rgb(84, 72, 4);
}

.sec1 {
    min-width: 100%;
    min-height: 98vh;
}


.sec1 h1{
    display: inline-block;
    font-size: 60px;
    color: orange;
    margin-bottom: 20px;
    font-weight: 700;
    scale: 0.9;
    transition: scale 0.4s;
}


.sec1 h1:hover{
    animation-name: indrasenanHover;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    scale: 1;

}

@keyframes indrasenanHover {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 40%;
    }
    100%{
        opacity: 100%;
    }
    
}


.sec1 span{
    font-size: 47px;
    color: #755f36;
}

.sec1 p{
    color: #00ffb3;
    opacity: 0.5;
    text-shadow: 0 0 5px #000000;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.sec1 a{
    background-color: #0000009c;
    position: absolute;
    bottom: 2%;
    transition: scale 0.4s;
}

.sec1 a:hover{
    scale: 1.1;
}


.heroPic{
    width: 100%;
    transform: translateX(0%);
    scale: 0.9;
    transition: scale 1s, transform 0.5s;
}

.heroPic:hover{
    transform: translateX(5%);
    
    scale: 1;
}

.navbar-nav{
    border: 1px solid gold;
    padding: 0 3%;
    border-radius: 5px;
}

.legend{
    color: rgb(251, 255, 255);
    padding: 2vw;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
    opacity: 100%;
    text-shadow: 0 0 5px black;

}

.legend-bg{
    width: 100vw;
    height: 100vh;
    background: url(img/legendbg.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    opacity: 0.5;

}

.legendHead{
    color: violet;
    padding: 3px 10px;
    margin: 0 auto 5% auto;
    border-bottom: 0.1px solid white;
    border-right: 0.1px ridge white;
    width: fit-content;
    scale: 0.9;
    transition: scale 0.4s;
    border-radius: 5px;
}

.legendHead:hover{
    scale: 1;
}

.sec2{
    line-height: 35px;
    min-height: 88vh;
    background-color: #c4bebe;
}

.sec2 p{
    font-size: 20px;
    color: black;
    font-style: oblique;
    font-weight: 300;
    text-shadow: 0 0 5px #ffffff9c;
    scale: 0.9;
    transition: scale 0.4s;
}

.sec2 p:hover{
    scale: 1;
}

.sec2Img{
    border-radius: 6%;
    transition: scale 0.4s;

}

.sec2 img:hover{
    scale: 1.1;
}

.sec3{
    min-height: 80vh;
    width: 100%;
    background: rgb(255, 255, 255);
}

.Card{
    margin:3vw 3vw;
    padding: 4% 8%;
    background-color: #00000023;
    min-width: fit-content;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(0, 0, 0);
    transition: scale 0.4s;
}

.Card:hover{
    scale: 1.1;
}

.Card hr{
    border: 1px solid red;
    width: 100%;
}

.Card a{
    text-decoration: none;
    color: rgb(246, 248, 248);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.553);
}

.Card h1{
    
    transition: scale 0.5s;
    background-color: #0000007f;
}

.Card h1:hover{
    scale: 1.1;
}


.cardIcon{
    display: inline-block;
    text-align: center;
    width: 5rem;
    transition: scale 0.6s;
}

.cardIcon:hover{
    scale: 1.1;
}

.biography{
    width: 100vw;
    height: 100vh;
}

.biographyNav{
    position: absolute;
    opacity: 0.2;
    transition: opacity 1s ease-in-out;
}


.biographyNav:hover{
    opacity: 1;
}

.biographyHead{
    font-size: 1rem;
    margin: 10px auto;
    color: wheat;
    font-weight: 200;
}

.nav1{
    display: hidden;
    background-color: black;
}

iframe{
    margin-top: 20vh;
}


.footer{
    font-size: 1rem;
    padding: 2%;
    
}

.ft{
    color: white;
    opacity: 0.5;
}

.tesNic{
    color: rgb(0, 255, 242);
    opacity: 1;
    
}

.ftDiv{
    margin: 0 auto;
    width: fit-content;
}

.corosalTxt{
    color: rgb(255, 200, 0);
    font-family: orbitron;
    text-align: center;
}

.carousel-item{
    height: 75vh;
    width: 100vw;
    background-size: cover;
    background-image: url(img/kerala.jpeg);
}

.corosalBg{
    height: 100%;
    background-color: #0000003e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.corosalTxt{
    height: 100%;
    font-family: rajdhani;
    position: absolute;
    top: 37%;
    font-size: 3rem;
    font-weight: bold;
    opacity: 0.8;
    text-shadow: 0 0 5px rgb(0, 255, 200);
    transition: scale 0.4s;
}

.corosalTxt:hover{
    scale: 1.1;
}




/* Fonts */
.poppins1{
    font-family: 'Poppins', sans-serif;
}

.exo2{
    font-family: 'Exo 2', sans-serif;
}

.rajdhani{
    font-family: 'Rajdhani', sans-serif;
}

.orbitron{
    font-family: 'Orbitron', sans-serif;
}
